<form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ block.settings.product_variant_id }}" />
      <input type="hidden"  name="quantity" value="1"/>
      <input type="submit" value="Add to Cart" class="djbutton btn add-to-cart-button" />
</form>