<div class="djpage-header-container">
  {%- assign img_url = block.settings.bg_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <div class="djpage-header-image-column">
    <img src="{{block.settings.bg_image | img_url: '1000x' }}" class="lazyload dj-headshot">
    <img src="https://cdn.shopify.com/s/files/1/2642/5702/files/djsig.png" class="djsignature">
  </div>
  <div class="djpage-header-content-column">
      	<h1>{{ block.settings.title }}</h1>
  		<p class="djpage-header-copy">
    		{{ block.settings.header-copy-1 | newline_to_br }}
  		</p>
    	<div class='embed-container'><iframe src='https://player.vimeo.com/video/522936292?autoplay=1&muted=1&loop=1' frameborder='0' allow='autoplay; fullscreen' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    	<p class="djpage-header-copy">
    		{{ block.settings.header-copy-2 | newline_to_br }}
  		</p>
   	<div class="djpage-button-row">
      	<div>
      		<form method="post" action="/cart/add">
      			<input type="hidden" name="id" value="39269263474757" />
              	<input type="hidden"  name="quantity" value="1"/>
      			<input type="submit" value="Add to cart" class="djbutton btn add-to-cart-button" />
		</form>
      	</div> 
    	<div id="section-cta">
  			<a href="/collections/all/products/dustin-johnson-collection" class="btn djbutton btn--has-icon-after djpage-learnmore-btn">Learn More</a>
    	</div>
  	</div>
  </div>
  
</div>
<div class="djpage-collection-row">
  <div class="page-width">
	<div class="djpage-image-column">
   	 <img src="https://cdn.shopify.com/s/files/1/2642/5702/files/Bundle_Hero_Final_Box.jpg?v=1616424483" class="dj-collection-render">
    </div>
    <div class="djpage-collection-promo-col">
      <h1 style="font-weight:700">The Dustin Johnson Practice Collection<h1>
      <div class="djpage-price-row">
        <h4 class="price-item--regular">$430.00</h2>
        <h4 class="price-item--sale">$349.99</h2>
       </div>
      <h4>
        <ul>
          	<li>Use Dustin Johnson’s training aids before and after your rounds to make more putts.</li>
        	<li>Practice indoors and outdoors.</li>
			<li>Premium, portable designs allows golfers to practice anytime, anywhere.</li>
        </ul>
        </h4>
      <div class="djpage-button-row">
      	<div>
      		<form method="post" action="/cart/add">
      			<input type="hidden" name="id" value="39269263474757" />
              	<input type="hidden"  name="quantity" value="1"/>
      			<input type="submit" value="Add to cart" class="djbutton btn add-to-cart-button" />
		</form>
      	</div> 
    	<div id="section-cta">
  			<a href="/collections/all/products/dustin-johnson-collection" class="btn djbutton btn--has-icon-after djpage-learnmore-btn">Learn More</a>
    	</div>
  	</div>
    </div>
  </div>
  </div>
   	<div class="djpage-learnmore-row"> 
    	<h2>Learn how you can use The Dustin Johnson Practice Collection to make more putts.</h2>
      <img src=" https://cdn.shopify.com/s/files/1/2642/5702/files/down-arrow.png?v=1616442865">
	</div>