<div class="page-width">
	<div style="text-align:center">
      <h2>Contest Rules</h2>
		<p>
Enter your email address for a chance to win. With your entry, you agree to receive promotional emails from Perfect Practice. Entries must be received by March 15, 2021, at 11:59 p.m. Eastern Standard Time. Entrants must be age 18 or older and live in the Continental United States. The winner will be chosen at random on March 16, 2021, and notified within three days of the contest closing. The winner will have one week to reply with a shipping address to claim the prize. The prize will be shipped free of charge to the winner. No purchase necessary. Purchase does not increase your chance of winning.
      </p>
	</div>
</div>

