<div class="dj-page-product-row-container">
  <div class="dj-page-product-img-container">
    <img src="https://cdn.shopify.com/s/files/1/2642/5702/files/Bundle_Hero_Final_Box.jpg?v=1616424483" class="lazyload">  
  </div>  
  
  <div class="djpage-content-container">
    
    <h3>What's Included</h3>
    <div class="djproductpage-feature-container">
      <h4>
        <a href="/products/the-perfect-practice-putting-mat">Perfect Putting Mat (Standard Edition: 9’6” Long, 15” Wide)</a>
      </h4>
      <h5>
          The most important thing to buy for your game in 2021. The Perfect Putting Mat is used by more than 100 tour pros.
      </h5>
    </div>
    
    <div class="djproductpage-feature-container">
      <h4>
        <a href="/products/the-raindrop"> The Raindrop</a>
      </h4>
      <h5>
          Developed in partnership with GOLF Top-100 Teacher Matt Killen, the putting coach of multiple major champions, to help every golfer make more putts.
      </h5>
    </div>
    
    <div class="djproductpage-feature-container">
      <h4>
        <a href="/products/laser-putting-glasses"> Laser Putting Glasses</a>
      </h4>
      <h5>
          Like having your own putting coach. The Laser Putting glasses allow all golfers to make game-changing improvements every time they practice.
      </h5>
    </div>
    
    <div class="djproductpage-feature-container">
      <h4>
        <a href="/products/true-pendulum-motion-tpm"> True Pendulum Motion (TPM)</a>
      </h4>
      <h5>
          For golfers of all levels and ages. Works with any putter and grip style. Collapses for easy traveling.
      </h5>
      <h5>You'll make more putts when you practice with the Dustin Johnson Practice Collection. <a class="link-color" href="/dj">Learn more about how DJ uses each of our core products to make more putts.</a> </h5>
    </div>
  </div>
</div>





