<div class="dj-page-product-row-container djpage-reverse">
    <div class="djpage-video-row-container">
    <div class='embed-container'>
        <iframe src='https://player.vimeo.com/video/527402992?autoplay=1&muted=1&loop=1' frameborder='0' allow='autoplay; fullscreen' webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>
      </div>
  </div>
  <div class="djpage-content-container">
    <h3>Trusted By Dustin Johnson And 100+ Other Tour Pros</h3>
    <p>Dustin Johnson spends 95% of his time practicing putts from inside 10 feet. He uses Perfect Practice training aids so he can practice more and practice better.</p>
    <ul>
      <li>
        Use Dustin Johnson’s training aids before and after your rounds to make more putts.
      </li>
      <li>
        Practice indoors and outdoors.
      </li>
      <li>
        Premium, portable designs allows golfers to practice anytime, anywhere.
      </li>
    </ul>
  </div>
</div>