/* Full Width */
.full-width {
  padding: 1em;
}

/* Explainer Section Style */
h1.explainer_head {
    color: #1ed761;
}
.section_explainer {
    padding-top: 55px;
    padding-bottom: 55px;
}
.section_explainer .homepage-icon {
  max-width: 325px;
}

@media only screen and (max-width:767px){
h1.explainer_head {
    font-size: 24px;
}
.section_explainer {
    padding-top: 35px;
    padding-bottom: 35px;
}
.page-width.explainer {
    padding: 0;
}
}
/*Best Sellers Section Style*/
.best-product-card__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.best-product-card__title{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.best-product-card__info dl.price.price--listing.price--on-sale{
    display: none!important;
}
p.best-brief-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.jdgm-widget.jdgm-preview-badge.jdgm--done-setup {
    padding-top: 10px;
    padding-bottom: 10px;
}
.best-sellers-section{
    padding-top: 55px;
    padding-bottom: 55px;
}
@media only screen and (max-width:767px){
    h1.best_seller_head{
        font-size: 24px;
    }
    .best-sellers-section{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
/*Product Categories Style*/
@media only screen and (max-width: 749px){
    li.product-categories{
        margin-bottom: 0;
    }
    h3.categpry_name {
        margin-bottom: 0;
    }
    .product-card{
        margin-bottom: 10px;
    }
}

h3.categpry_name {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #1ed761;
}
li.product-categories {
    margin-bottom: 40px;
}
a.btn-category-name {
    color: #1ed761;
    border: solid 0.5px;
    width: 40%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30%;
    margin-top: 17.5px;
    order: 3;
    border-radius: 10px;
    font-family: Gotham XNarrow,sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}
a.btn-category-name:hover {
    color: white;
    background-color: #1ed761;
}
img.feature-row__image.category_img.lazyautosizes.lazyloaded {
    width: 100%;
    height: 100%;
}
.shopify-section.product-categories-section {
    background: #f9f9f9;
    padding-top: 50px;
}

.shopify-section.product-categories-section .product-card {
    background: #f9f9f9;
}


/*FAQ Style*/
.accordion-container {
    padding-bottom: 30px;
    padding-top: 50px;
}
.faq-head{
    text-align: center;
}
.grid.copy-wrap.set {
    margin-left: 0!important;
}
  .set{
    position: relative;
    /* width: 100%; */
    height: auto;
    background-color: #f5f5f5;
  }
  .set > a{
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1ed761;
    border-top: 1px solid #1ed761;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .set > a i{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
  }
  .set > a.active{
    background-color:#1ed761;
    color: #fff;
  }
  a.active p.question_title {
    color: white;
}
  p.question_title{
      font-size: 18px;
  }
  .content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
  }
  .content p{
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }
  /*Testimonials Style*/
  .testimonial_section {
      background: #3a3a3a;
  }
  .wrapper{
    width:90%;
    position:relative;
    margin:5% auto 0;
  }
  .carousel{
	width: 100%;
	position: relative;
	padding-top: 30%;
	overflow: hidden;
}
.inner{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	right:0;
	left:0;
	z-index: 1;
	opacity: 0;
}

.slide.active,
.slide.left,
.slide.right{
	z-index: 2;
	opacity: 1;
}
.js-reset-left{left:auto}
.slide.left{
	left:-100%;
	right:0;
}

.slide.right{
	right:-100%;
	left: auto;
}

.transition .slide.left{left:0%}
.transition .slide.right{right:0%}
.transition .slide.shift-right{right: 100%;left:auto}
.transition .slide.shift-left{left: 100%;right:auto}
.transition .slide{
	transition-property: right, left, margin;
}
.indicators{
    width:100%;
    position: absolute;
    bottom:0;
    z-index: 4;
    padding:0;
    text-align: center;
  }
  
  .indicators li{
      width: 13px;
      height: 13px;
      display: inline-block;
      margin: 5px;
      background: #fff;
      list-style-type: none;
      border-radius: 50%;
    cursor:pointer;
    transition:background 0.3s ease-out;
  }
  
  .indicators li.active{background:#1ed761}
  
  .indicators li:hover{background-color:#1ed761}
  
  .arrow{
    width: 40px;
    height: 40px;
    position:absolute;
    top:50%;
    z-index:50;
    border-top:3px solid #1ed761;
    border-right:3px solid #1ed761;
    cursor:pointer;
    transition:border-color 0.3s ease-out;
  }
  
  .arrow-left{
    left:20px;
    transform:rotate(225deg);
  }
  
  .arrow-right{
    right:20px;
    transform:rotate(45deg);
  }

.testimonial_head{
    padding-top: 3%;
    color: #1ed761;
    text-align: center;
}
.testimonial_description, .testimonial_title{
    color: #eee;
    margin: 0px;
}
.testimonial_name{
    color: white;
    margin: 0px;
    font-weight: bold; 
}

.testimonial__image {
    height: 100%!important;
}

@media only screen and (min-width:990px){   

.product-card .product-card__meta-top .jdgm-widget {
    text-align: left;
  
   }
}
  
@media only screen and (min-width:769px){    
    
  .testimonial-wrap {
        display: flex;
        width: 70%;
        margin-left: 15%;
    }
    /* .testimonial_img{
        width: 50%;
    } */
    .testimonial_content{
        width: 65%;
        text-align: left;
        background: #000;
        padding: 5%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -7%;
        z-index: 1;
        height: fit-content;
    }
}
@media only screen and (max-width:768px){
    .testimonial_section {
        height: 60vh;
    }
    section.wrapper {
        height: 100%;
    }
    .carousel{
        padding-top: 100%;
        height: 85%;
    }
    .arrow {
        top: 18%;
    }
}


 .testimonial_section .feature-row__image-wrapper .feature-row__image {
    width: auto;
}
/*Newsletter Style*/




@media only screen and (min-width:1024px){
    .newsletter-section{
        display: flex;
        max-width: 50%;
        height: auto !important;
    }
    .newsletter_left{
        width: 50%;
        margin-right: 5%;
        text-align: left!important;
    }
    form#email_signup{
        width: 45%;
    }
    hr.email_bottom {
        width: 20%;
        border: solid 0.5px #1ed761;
        margin-top: 15px;
    }
    .email_rte {
        font-size: 36px;
    }
}
@media only screen and (max-width:1023px){
    hr.email_bottom{
        display: none;
    }
  
  	.newsletter-section h2, .h2 {
    font-size: 2.1em;
   }
}

div#shopify-section-newsletter {
    padding-bottom: 0;
    padding-top: 0;
    height: auto !important;
}

.email_rte p {
    color: #ffffff!important;
    font-weight: bold;
    font-family: Gotham XNarrow, sans-serif;
    text-transform: uppercase;
}
p.email_head {
    color: #ffffff!important;
}
input#k_id_email, input#user_name {
    width: 100%;
    border: solid 0.5px #ffffff!important;
    margin-top: 10px;
    margin-bottom: 10px;
}
input.btn_submit {
    background: #1ed761;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}
.input-group {
    display: none;
}
.signup_warn p{
    margin-top: 30px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    color: #ffffff!important;
}

div#shopify-section-newsletter .klaviyo_messages {
	text-align: center;
    font-weight: bold;
}


/*DJ Collection Style*/
.dj-collection-section .dj-page-product-row-container{
    min-height: 0vh;
}
@media only screen and (min-width:768px){
    .dj_collection_section {
        display: flex;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 55px;
        padding-right: 55px;
    }
    .dj_img {
        width: 50%;
    } 
    .dj_content {
        width: 50%;
        padding-top: 35px;
        padding-left: 35px;
    }
    h1.dj_head {
        font-size: 26px;
    }
    h2.dj_subhead {
        font-size: 17px;
    }
}
@media only screen and (max-width:767px){
    .index-section--featured-product {
        padding-bottom: 35px!important;
    }
    .dj_collection_section{
        padding-left: 22px;
        padding-right: 22px;
    }
    .dj_content {
        padding-top: 5px;
        text-align: center;
    }
    h1.dj_head {
        font-size: 20px;
    }
    h2.dj_subhead {
        font-size: 14px;
    }
}
img.dj_collection_img {
    width: 100%;
}
/*Guarantee Section Style*/
@media only screen and (min-width:768px){
    .feature-row__item.guarantee_left_img {
      	width: 40%;
    	margin-left: 40%;
    }
    .guarantee_section {
        display: flex;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 55px;
        padding-right: 55px;
    }
    .gurantee_img {
        width: 50%;
    }
    .guarantee_content {
        width: 50%;
    	justify-content: center;
    	display: flex;
    	flex-direction: column;
      	font-size: 1.2em;
    }
    .gurantee-section {
        padding-top: 55px;
        padding-bottom: 55px;
    } 
}

@media only screen and (max-width:767px){
    .guarantee_section{
        padding-left: 22px;
        padding-right: 22px;
    }
    .guarantee_content {
        padding-top: 5px;
        text-align: center;
    }
    .gurantee-section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
  
}

.guarantee_content p {
    font-family: Gotham XNarrow, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/*CTAs Section Style*/
.page-width.feature-row.ctas_section {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
img.feature-row__image.cta_img.lazyautosizes.lazyloaded {
    max-width: 100%!important;
    max-height: 100%!important;
}

@media only screen and (max-width: 749px){
.page-width.feature-row.ctas_section {
    padding: 22px;
}
}

/*FAQ Section Style*/
.faq-content-section {
  background: #fff !important;
}

/*Hero Index Section DJ Style*/
@media only screen and (min-width: 750px) {
  #shopify-section-1586912351353 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

/*Navigation Styles */
header li {
   	font-family: Gotham XNarrow, sans-serif !important;
  	text-transform: uppercase;
  	font-style: normal;
    font-weight: bold !important;
  	font-size: 18px;
}

.site-nav a {
    font-weight: bold !important;
}

/* Footer Logo */

.footer-logo-container {
 	text-align: center; 
}

.footer-logo-container img {
  max-width: 200px; 
}


/* Reviews Slider */
.quotes-wrap .image-container {
  display: none !important;
}

.quotes-wrap cite small {
  display: none !important;
}
  